ToDoList WPF/.vs/ToDoList WPF/v16/.suo
ToDoList WPF/ToDoList WPF/bin/Debug/netcoreapp3.1/ToDoList WPF.dll
ToDoList WPF/ToDoList WPF/bin/Debug/netcoreapp3.1/ToDoList WPF.exe
ToDoList WPF/ToDoList WPF/bin/Debug/netcoreapp3.1/ToDoList WPF.pdb
ToDoList WPF/ToDoList WPF/bin/Debug/netcoreapp3.1/ToDoList WPF.runtimeconfig.dev.json
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/App.g.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/apphost.exe
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTasca.baml
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTasca.g.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTasca.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraToDoList.g.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraToDoList.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTreballadors.g.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTreballadors.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.assets.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.csproj.AssemblyReference.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.csproj.CoreCompileInputs.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.csproj.FileListAbsolute.txt
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.designer.runtimeconfig.json
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.dll
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.g.resources
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.GeneratedMSBuildEditorConfig.editorconfig
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.genruntimeconfig.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.pdb
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF_MarkupCompile.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF_MarkupCompile.i.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF_MarkupCompile.i.lref
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF_MarkupCompile.lref
ToDoList WPF/ToDoList WPF/obj/project.assets.json
ToDoList WPF/ToDoList WPF/obj/project.nuget.cache
ToDoList WPF/ToDoList WPF/obj/ToDoList WPF.csproj.nuget.dgspec.json
ToDoList WPF/ToDoList WPF/obj/ToDoList WPF.csproj.nuget.g.props
