
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/App.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTasca.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraToDoList.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/FinestraTreballadors.g.i.cs
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.assets.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.csproj.AssemblyReference.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.designer.runtimeconfig.json
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF.GeneratedMSBuildEditorConfig.editorconfig
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF_MarkupCompile.i.cache
ToDoList WPF/ToDoList WPF/obj/Debug/netcoreapp3.1/ToDoList WPF_MarkupCompile.i.lref
ToDoList WPF/ToDoList WPF/obj/project.assets.json
ToDoList WPF/ToDoList WPF/obj/project.nuget.cache
ToDoList WPF/ToDoList WPF/obj/ToDoList WPF.csproj.nuget.dgspec.json
ToDoList WPF/ToDoList WPF/obj/ToDoList WPF.csproj.nuget.g.props
